:root {
  --green: green;
  --gray: #c4c4c4;
  --bluehover: #94bfe9;
  --principalcolor: #f5f5f5;
  --principalcoloropacity:#d4e2efa2;
  --blueColor: #407c87;
  --blackColor: #000;
  --whiteColor: #fff;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "Sen", sans-serif;
  background-color: var(--principalcolor);
}

section {
  display: grid;
  grid-template-columns: 20% auto;
}

.left-bloc {
  height: 100vh;
  background-color: var(--principalcolor);
  box-shadow: 0px 0px 1px 0px var(--blackColor);
}
.left-bloc h2 {
  padding-left: 35px;
  margin-top: 25px;
}
.left-bloc .items {
  margin-top: 25px;
}
.left-bloc .items div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 5px;
  padding-left: 30px;
}
.left-bloc .items div:hover {
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 1px 0px var(--gray);
}
.left-bloc .items .options {
  padding: 10px;
  padding-left: 30px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 1px 0px var(--gray);
}

.header {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 2px 0px var(--gray);
}
.header .menu i {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
.header .menu .nav-menu {
  position: absolute;
  left: 0;
  top: 60px;
  width: 230px;
  height: 100vh;
  margin-left: -100%;
  display: none;
  transition: all 0.5s ease;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--gray);
  background-color: var(--whiteColor);
}
.header .menu .nav-menu .items {
  margin-top: 25px;
}
.header .menu .nav-menu .items div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 5px;
  padding-left: 30px;
}
.header .menu .nav-menu .items div:hover {
  background-color: var(--principalcolor);
  box-shadow: 0px 0px 1px 0px var(--gray);
  
}
.header .menu .nav-menu .items .school {
  padding: 10px;
  padding-left: 30px;
  background-color: var(--principalcolor);
  box-shadow: 0px 0px 1px 0px var(--gray);
  
}
.header .menu .nav-menu .items .logout {
  margin-top: 100px;
}
.header .menu .nav-menu .items .logout i {
  font-size: 16px;
}
.header .add-school {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 1px 0px var(--gray);
}

.ecole-enregistree {
  padding: 20px;
}
.ecole-enregistree .first-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ecole-enregistree .first-item div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.ecole-enregistree .first-item div p {
  color: var(--gray);
}

.allitems {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 3px 0px var(--gray);
}
.allitems .ecole {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.allitems .ecole div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.allitems .ecole div a {
  color: var(--blueColor);
}
.allitems .ecole div div h2 {
  height: 15px;
  border: 1px solid var(--blueColor);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--blackColor);
  text-decoration: none;
}

.header_items i {
  font-size: 1.2rem;
}

.logout, .voir-plus {
  border: 1px solid var(--blackColor);
  border-radius: 20px;
  margin-top: 180px;
  margin-left: 20px;
  padding: 10px 15px;
  font-family: "Sen", sans-serif;
  font-weight: bolder;
  background-color: var(--whiteColor);
}

.voir-plus {
  margin-top: 10px;
  border: none;
  float: right;
  box-shadow: 0px 0px 1px 0px var(--gray);
  margin-left: 0;
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
  border: 2px solid var(--white);
  width: 25px;
  border: 1px solid var(--blackColor);
}

@media screen and (max-width: 978px) and (max-width: 900px) {
  .header .menu i {
    display: initial;
  }
  .header .menu .nav-menu {
    display: initial;
  }
  .header .menu .mobile-menu {
    margin-left: 0;
  }
  section {
    display: grid;
    grid-template-columns: auto;
  }
  .left-bloc {
    display: none;
  }
}
@media (max-width: 480px) {
  .allitems .ecole {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }
  .allitems .ecole div {
    display: flex;
    justify-content: flex-end;
  }
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .ecole-enregistree {
    padding: 10px;
  }
  .allitems .items .logout {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=index.css.map */